@font-face {
  font-family: Queen;
  src: url('fonts/QueenInlineGrunge.otf') format('opentype');
  src: url('fonts/QueenInlineGrunge.ttf') format('truetype');
}
@font-face {
  font-family: PublicPixel;
  src: url('fonts/PublicPixel.ttf') format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*:focus {
  outline: none;
}
body {
  overflow: hidden;
}
body,
input,
button {
  /*font-family: Queen, Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;*/
  font-family: PublicPixel, 'Courier New', Courier, monospace;
  font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /*font-family: Queen, Georgia, 'Times New Roman', Times, serif;*/
  font-family: PublicPixel, 'Courier New', Courier, monospace;
  text-align: center;
}
h1 {
  font-size: 2.8rem;
}
h2 {
  font-size: 2.3rem;
  padding-bottom: 2rem;
}
h3 {
  font-size: 1.8rem;
  padding-bottom: 2rem;
}
h4 {
  padding-bottom: 1rem;
}
p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
a {
  text-decoration: none;
  color: blue;
}

.page {
  position: relative;
  width: 100%;
  height: 100vh;
}
.page:nth-of-type(odd) {
  background-color: #00103f;
  color: antiquewhite;
}
.page:nth-of-type(even) {
  background-color: antiquewhite;
  color: #00103f;
}
.page footer {
  position: absolute;
  bottom: 0.5rem;
  width: 100%;
  text-align: center;
  font-size: 1rem;
}

#landing,
#your-name,
#your-style,
#ready-to-play,
#round,
#scores {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#your-name,
#your-style,
#ready-to-play {
  text-align: center;
}

#your-name input {
  display: block;
  width: 30rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border: none;
  border-bottom: 1px solid 00103f;
}

#your-style .styles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
#your-style .freddie-style picture img {
  height: 12rem;
  margin-bottom: 1.5rem;
}

#round main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
#round main > div {
  padding: 1rem;
  border-bottom: 0.5rem solid #00103f;
}

#round .queen .on-air {
  display: none;
}
#round .queen picture {
  display: block;
  text-align: center;
}
#round .queen img {
  margin-bottom: 1rem;
}
#round .queen.playing {
  background-color: darkblue;
  border-color: crimson;
}
#round .queen.playing .on-air {
  display: inline;
  padding: 0.5rem;
  background-color: crimson;
  color: antiquewhite;
}
#round .player .on-air {
  padding: 0.5rem;
  background-color: yellow;
  color: black;
}
#round .player-game {
  position: relative;
  display: flex;
  flex-direction: row;
  min-width: 45rem;
}

#round .player .live-data {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
#round .player-game picture {
  margin-right: 2rem;
}
#round .player-game canvas {
  width: 28rem;
  height: 6rem;
  margin-bottom: 1rem;
  background-color: antiquewhite;
}
#round .player .countdown {
  visibility: visible;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 20rem;
  font-size: 10rem;
}
#round .player.playing {
  background-color: darkblue;
  border-color: green;
}
#round .player.playing .countdown {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
#round .player.playing .on-air {
  background-color: green;
  color: antiquewhite;
}
#round .player.playing .live-data {
  visibility: visible;
  opacity: 1;
}
#scores td {
  font-size: 1.5rem;
  padding: 1rem 3rem;
}
#scores td.round,
#scores td.song {
  text-align: left;
}
#scores td.score {
  text-align: right;
}
#scores tr:nth-of-type(odd) td {
  color: cadetblue;
}
