@font-face {
  font-family: Queen;

  src: url('fonts/QueenInlineGrunge.otf') format('opentype');
  src: url('fonts/QueenInlineGrunge.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  overflow: hidden;
}
body,
input,
button {
  font-family: Queen, Georgia, 'Times New Roman', Times, serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Queen, Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3rem;
}
.page {
  position: relative;
  width: 100%;
  height: 100vh;
}
.page footer {
  position: absolute;
  bottom: 0;
}
#landing,
#game {
  background-color: #00103f;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#game .queen-singing img {
  width: 357px;
  height: 200px;
}
#options {
  text-align: center;
}
#options label,
#options input {
  display: block;
  width: 50rem;
  margin: 1rem auto;
  text-align: center;
}
#scores {
  text-align: center;
}

#note {
  font-size: 164px;
}
.droptarget {
  background-color: #348781;
}
div.confident {
  color: black;
}
div.vague {
  color: lightgrey;
}
#note {
  display: inline-block;
  height: 180px;
  text-align: left;
}

#detector {
  width: 300px;
  height: 300px;
  border: 4px solid gray;
  border-radius: 8px;
  text-align: center;
  padding-top: 10px;
}
#output {
  width: 300px;
  height: 42px;
}
#flat {
  display: none;
}
#sharp {
  display: none;
}
.flat #flat {
  display: inline;
}
.sharp #sharp {
  display: inline;
}

#detune-from-target.red {
  background-color: red;
}
#detune-from-target.green {
  background-color: green;
}
